header {
    background-color: rgb(245, 236, 236);
    font-family: 'Roboto', sans-serif;
    border-bottom: solid black 1px;
    padding: 10px;
    margin: 0;
}

.hide {}

#time {
    float: right;
}

.quiz {
    margin: 15px;
}